<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdd.winterSolsticeBlog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdd.winterSolsticeBlog.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="summary" property="summary" />
        <result column="category_id" property="categoryId" />
        <result column="author_id" property="authorId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <resultMap id="articleResultMap" type="com.hdd.winterSolsticeBlog.vo.ArticleVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="authorId" column="author_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="category" column="category_id" javaType="com.hdd.winterSolsticeBlog.entity.Category"
                     select="com.hdd.winterSolsticeBlog.mapper.CategoryMapper.selectById"/>
        <collection property="tags" column="id" ofType="com.hdd.winterSolsticeBlog.entity.Tag"
                    select="com.hdd.winterSolsticeBlog.mapper.TagMapper.selectTagsByArticleId"/>

    </resultMap>

    <select id="selectArticleList" resultMap="articleResultMap">
        SELECT
        a.id,
        a.title,
--         a.content,
        a.summary,
        a.category_id,
        c.name AS category_name,
        t.id AS tag_id,
        t.tag_name,
        a.author_id,
        a.created_at,
        a.updated_at
        FROM
        blog.article a
        LEFT JOIN blog.category c ON a.category_id = c.id
        LEFT JOIN blog.article_tag at ON a.id = at.article_id
        LEFT JOIN blog.tag t ON at.tag_id = t.id
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND a.category_id = #{categoryId}
            </if>
            <if test="tagId != null and tagId != ''">
                AND at.tag_id = #{tagId}
            </if>
        </where>
        order by a.created_at asc
    </select>

</mapper>
